<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="footer--container">
      <div class="footer--bottom">
          <div class="container--bottom">
              <div>©Tout droits reserves 2023-2024</div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>
.footer--bottom {
  background-color: #EAE1D2;
}
.container--bottom {
  margin: auto;
}
.container--bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
</style>