<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="navbar">
    <router-link to="/" class="navbar--brand">MyYouTube</router-link>
    <div class="table-cell col-lg-8 search">
      <input type="text" placeholder="Rechercher..." class="col-lg-8">
      <button>Rechercher</button>
    </div>
    <div class="navbar--right">
      <template v-if="isAuthenticated">
        <div class="btn--icon"><router-link to="/signup"></router-link></div>
      </template>
      <router-link v-else class="btn--green"  to="/login">Connexion</router-link>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'

export default {
  computed: {
    ...mapGetters(["isAuthenticated"])
  },
  methods: {
    ...mapActions(['show', 'logout'])
  },

}
</script>

<style scoped>
.navbar {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.navbar--brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #35495e;
  transition: all .2s;
  margin-right: 2em;
  margin-left: 2em;
}

.navbar--brand:hover {
  padding: 0 5px;
  color: brown;
}

.navbar--right {
  display: flex;
}

.navbar--right .btn--icon {
  color: #e74c3c;
  cursor: pointer;
  margin-left: 15px;
  transition: all .2s;
}

.navbar--right .btn--icon:hover {
  transform: translateY(-2px);
}

.btn-icon {
  background: none;
  border: 1px solid #EAE1D2;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

.search input {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  background-color: #EAE1D2;
}

.search .btn-icon {
  background-color: #002060;
  color: #EAE1D2;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
</style>
