<template>
  <aside class="sidebar rounded">
    <div class="sidebar-header">
      <h3></h3>
    </div>
    <ul class="sidebar-menu">
      <li>
        <router-link to="/">Accueil</router-link>
      </li>
      <li>
        <router-link to="/profile/edit">éditer le profil</router-link>
      </li>
      <li>
        <router-link to="/upload">Page d'upload de Vidéo</router-link>
      </li>
<!--      <li>-->
<!--        <router-link to="/video">Liste des Vidéos</router-link>-->
<!--      </li>-->
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'SideBar',
};
</script>

<style>
.sidebar {
  float: left;
  width: 250px;
  height: 100vh;
  margin: 0;
  background-color: #740000;
  color: #fff;
  border: 1px transparent;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
}

.sidebar img {
  max-width: 80px;
}

.sidebar h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.sidebar-menu {

  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 20px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar-menu li a:hover {
  background-color: #555;
}
</style>
