<template>
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>duration</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="video in videos" :key="video.id">
      <td>{{ video.id }}</td>
      <td>{{ video.name }}</td>
      <td>{{ video.duration }}</td>
    </tr>
    </tbody>
  </table>

</template>

<script>
export default {
  name: "video-list",
  props:["videos"]
}
</script>

<style scoped>

</style>
