<template>
  <div class="video-item">
    <table>
      <thead>
      <tr>
        <td>id</td>
        <td>name</td>
        <td>view</td>
        <td>source</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ video.id }}</td>
        <td>{{ video.name }}</td>
        <td>{{ video.view }}</td>
        <td>{{ video.source }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "video-item",
  props: ["video"]
}
</script>

<style scoped>

</style>
