<template>
  <div class="list_videos">
    Voici la liste des vidéos disponibles sur la plateforme
    <label for="search">
      <input v-model="search" type="text"  name="search" placeholder="Search a video">
    </label>
    <video-list></video-list>
    <div v-for="video in filteredVideos" :key="video.id">
      <video-item :video="video"></video-item>
    </div>
  </div>
</template>


<script>

import {VideoService} from "@/_services";
import VideoList from "@/components/video-list.vue";
import VideoItem from "@/components/video-item.vue";

export default {
  name: "video-index",
  components: {VideoItem, VideoList},
  data() {
    return {
      search: '',
      params: {
        page: 1
      },
      videos: [],
    }
  },
  computed: {
    filteredVideos() {
      return this.videos.filter(video => video.name.toLowerCase().includes(this.search))
    }
  },
  mounted() {
    this.list()
  },
  methods: {
    list() {
      VideoService.listVideo((this.params))
        .then(res => {
          this.videos = res.data.data
        })
    },
  }
}
</script>
