<template>
  <div>
    <h1>Upload Video</h1>
    <form @submit.prevent="uploadVideo">
      {{ this.formData.name }}
      <div>
        <label for="video">Choose a video:</label>
        <input id="video" ref="videoInput" accept="video/*" type="file"/>
      </div>
      <div>
        <label for="name">Video Name:</label>
        <input id="name" v-model="formData.name" type="text"/>
      </div>
      <button type="submit">Upload</button>
    </form>
  </div>
</template>

<script>
import {VideoService} from "@/_services";

export default {
  name:'video_upload',
  data() {
    return {
      formData: {
        name: '',
      }
    };
  },
  methods: {
    async uploadVideo() {
      try {
        const videoFile = this.$refs.videoInput.files[0];
        if (!videoFile) {
          console.error("no file uploaded")
          return false;
        }
        const formData = new FormData();
        formData.append('name', this.formData.name);
        formData.append('source', videoFile);
        await VideoService.upload(this.formData.name, videoFile)
          .then(res => {
            console.log('Video uploaded:', res.data);
          })
          .catch(err => {
            console.error(err)
          })
        // await this.$router.push('/profile');
      } catch (error) {
        console.error('Error uploading video:', error);
      }
    }
  }
};
</script>

