<template>
  <div>
    <h1>Modifier votre compte</h1>
    <form @submit.prevent="updateProfile">
      <div>
        <label for="username">username:</label>
        <input id="username" v-model="formData.username" type="text"/>
      </div>
      <br>
      <div>
        <label for="pseudo">pseudo:</label>
        <input id="pseudo" v-model="formData.pseudo" type="text"/>
      </div>
      <br>
      <div>
        <label for="email">Email:</label>
        <input id="email" v-model="formData.email" type="email" />
      </div>
      <br>
      <div>
        <label for="password">Password : </label>
        <input  type="password" v-model="formData.password" placeholder="Mot de passe">

      </div>
      <br>
      <button type="submit">Sauvegarder</button>
    </form>
  </div>
</template>

<script>
import {UserService} from "@/_services";

export default {
  name:"editProfile",
  data() {
    return {
      formData: {
        username: '',
        pseudo: '',
        email: '',
        password:''
      }
    };
  },
  methods: {
    async updateProfile() {
      try {
        await UserService.editUser(this.formData)
          .then(res => {
            console.log(res)
        })
          .catch(error => {
            console.error(error)
          });
      } catch (error) {
        console.error('Erreur:', error);
      }
    }
  }
};
</script>

