<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <Navbar/>
  <SideBar/>
  <div class="list_videos">
    <label for="search">
      <input v-model="search" type="text" name="search" placeholder="Search a video">
    </label>
    <video-list></video-list>
    <div v-for="video in filteredVideos" :key="video.id">
      <video-item :video="video"></video-item>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import SideBar from "@/components/SideBar.vue";
import VideoList from "@/components/video-list.vue";
import VideoItem from "@/components/video-item.vue";
import {VideoService} from "@/_services";

export default {
  name: 'Index',
  components: {VideoItem, VideoList, SideBar, Navbar},
  data() {
    return {
      search: '',
      params: {
        page: 1
      },
      videos: [],
    }
  },
  computed: {
    filteredVideos() {
      return this.videos.filter(video => video.name.toLowerCase().includes(this.search))
    }
  },
  mounted() {
    this.list()
  },
  methods: {
    list() {
      VideoService.listVideo(this.params)
          .then(res => {
            try {
              console.log(res.status);
              if (res.status !== 200) {
                console.error("error: " + res.statusText);
              } else {
                this.videos = res.data.data;
                // console.log(this.videos);
              }
            } catch (error) {
              console.error(error);
            }
          })
          .catch(err => {
            console.log(err.message)
          });
    }

  }
}
</script>
