<template>
  <div>
    <h1>Connexion</h1>
    <form @submit.prevent="login">
      <input v-model="pseudo" type="text" placeholder="Pseudo">
      <input v-model="password" type="password" placeholder="Mot de passe">

      <div class="btn--group">
        <button type="submit" class="btn--green">Connexion</button>
        <router-link to="Signup">Inscription</router-link>
      </div>
    </form>

  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'login',
  data() {
    return {
      pseudo: '',
      password: '',
    }
  },

  methods: {
    login() {
      const {pseudo, password} = this;
      this.$store.dispatch('login', {pseudo, password})
    },
  },
}
</script>

<style scoped>
form {
  display: flex;
  flex-direction: column;
  padding: 30px 0 10px;
}

form input {
  margin: 5px 0;
  width: 300px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.btn--group button {
  width: 100%;
  margin: 5px 0;
  outline: none;
}
</style>
