<!-- eslint-disable vue/multi-word-component-names -->
<script>
export default {
  name: "Profile"
}
</script>

<template>
  <div class="profile">
    profile
  </div>
</template>

<style scoped>

</style>
