<template>
    <div>
        <h1>Inscription</h1>
        <form>
            <input v-model="username" type="text" placeholder="Username" >
            <input v-model="pseudo" type="text" placeholder="Pseudo" >
            <input  v-model="email" type="email" placeholder="Votre email">
            <input v-model="password" type="password" placeholder="Mot de passe">


            <div class="btn--group">
                <button type="submit" class="btn--green" onclick="signup()">Confirmer</button>
              <router-link to="Login">Connexion</router-link>

            </div>
        </form>
    </div>
</template>

<script>

import { mapActions, mapGetters, } from 'vuex'

export default {
  name:'signup',
    data () {
        return {
            username: '',
            pseudo: '',
            email: '',
            password: '',
        }
    },
    computed: {
        ...mapGetters({
            errors: 'getErrors',
            authStatus: 'authStatus'
        })
    },
    methods: {
        signup: async function() {
            const { username, pseudo, email, password } = this;

            await this.$store.dispatch('signup', { username, pseudo, email, password });
        },
        ...mapActions(['changeMode'])
    },

}
</script>

<style scoped>
    form {
        display: flex;
        flex-direction: column;
        padding: 30px 0 10px;
    }
    form input {
        margin: 5px 0;
        width: 300px;
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
    }
    .btn--group button {
        width: 100%;
        margin: 5px 0;
        outline: none;
    }
</style>
